[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coveralls = "*"
codecov = "*"
jsonschema = "*"
nose = "*"

[packages]
pytaxonomies = {editable = true,path = "."}
flask-nav = "*"
Flask = "*"
Flask-Bootstrap = "*"
Flask-WTF = "*"

[requires]
python_version = "3.6"
