name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:

    - uses: actions/checkout@v5

    - name: Set up Python ${{matrix.python-version}}
      uses: actions/setup-python@v5
      with:
        python-version: ${{matrix.python-version}}

    - name: Initialize submodules
      run: git submodule update --init --recursive

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip poetry
        poetry install -E webui -E remote

    - name: Test with nosetests
      run: |
        poetry run pytest tests/tests.py
        poetry run mypy pytaxonomies

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
